.hidden {
    display: none;
}

#quote span {
    font-weight: bold;
}
#quote {
    position: absolute;
    top: 900px;
    left: 800px;
}

#greeting
{
    position: absolute;
    top: 200px;
    left: 900px;
}

#clock
{
    position: absolute;
    top: 800px;
    left: 950px;
}